<nav>
  <div class="nav-container">
    <a href="">SPACENEWS</a>
    <div class="buscador">
      <form [formGroup]="searchForm">
        <input type="text" formControlName="title" placeholder="Buscar..." />
        <button (click)="buscarPorPalabraClave()">Buscar</button>
      </form>
    </div>
    <button routerLink="/favoritos">Favoritos</button>
  </div>
</nav>

<div class="card-container">
  <div class="card" *ngFor="let favorito of listaFavoritos">
    <img [src]="favorito.image_url" alt="Article Image" />
    <div class="card-text">
      <a [href]="favorito.url" target="_blank">
        <p>{{ favorito.published_at | date : "dd MM yyyy" }}</p>
        <h2>{{ favorito.title }}</h2>
        <p>{{ favorito.summary }}</p>
      </a>
      <button (click)="eliminarDeFavoritos(favorito.id)">
        Eliminar de Favoritos
      </button>
    </div>
  </div>
</div>
