<nav>
  <div class="nav-container">
    <a href="">SPACENEWS</a>
    <div class="buscador">
      <form [formGroup]="searchForm">
        <input type="text" formControlName="title" placeholder="Buscar..." />
        <button (click)="buscar()">Buscar</button>
      </form>
    </div>
    <button class="nav-button" routerLink="/favoritos">Favoritos</button>
  </div>
</nav>

<section>
  <!-- Mostrar resultados solo si hay resultadosDeBusqueda -->
  <div class="card-container" *ngIf="mostrarResultadosBusqueda">
    <div class="card" *ngFor="let item of resultadosDeBusqueda">
      <img [src]="item.image_url" alt="Article Image" />
      <i
        [ngClass]="
          esFavorito(item)
            ? 'fas fa-heart corazon-lleno'
            : 'far fa-heart corazon'
        "
        (click)="
          item.isFavorite ? eliminarDeFavoritos(item) : marcarComoFavorito(item)
        "
      ></i>
      <div class="card-text">
        <a [href]="item.url" target="_blank">
          <p>{{ item.published_at | date : "dd MMM yyyy" }}</p>
          <h2>{{ item.title }}</h2>
          <p>{{ item.summary }}</p>
        </a>
      </div>
    </div>
  </div>
  <!-- Mostrar noticias normales si mostrarResultadosBusqueda es false -->
  <div class="card-container" *ngIf="!mostrarResultadosBusqueda">
    <div class="card" *ngFor="let item of data.results">
      <img [src]="item.image_url" alt="Article Image" />
      <i
        [ngClass]="
          esFavorito(item)
            ? 'fas fa-heart corazon-lleno'
            : 'far fa-heart corazon'
        "
        (click)="
          item.isFavorite ? eliminarDeFavoritos(item) : marcarComoFavorito(item)
        "
      ></i>
      <div class="card-text">
        <a [href]="item.url" target="_blank">
          <p>{{ item.published_at | date : "dd MMM yyyy" }}</p>
          <h2>{{ item.title }}</h2>
          <p>{{ item.summary }}</p>
        </a>
      </div>
    </div>
  </div>
  <!-- Mostrar un mensaje si no hay resultados de búsqueda -->
  <div *ngIf="mostrarResultadosBusqueda && resultadosDeBusqueda.length === 0">
    <p>No se encontraron resultados.</p>
  </div>
  <div class="paginacion">
        <button class="anterior" (click)="cargarPaginaAnterior()">
      Atras
    </button>
    <button class="siguiente" (click)="cargarSiguientePagina()">
      Siguiente
    </button>
  </div>
</section>
